.App {
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  text-align: center;

}
body{
  background-color: #da9cf7;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.paginas {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.paginas button {
  margin: 0 10px;
  padding: 5px 10px;
  cursor: pointer;
}

.paginas button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}